/*
                        Powered by @TW Solutions
Copyright © 2022 Ceylon Fiberio Manufacturing PVT Ltd. All Rights Reserved.	

 *Title  			:   Ceylon Fiberio Manufacturing (PVT)Ltd.
 *File Type 		:   CSS
 *Title             :   About Style CSS

 *Descrption        :	Website for Ceylon Fiberio Manufacturing (PVT)Ltd.
 *Coded by          :	Thanuja Wickramanayaka
 *Subject           :	ITM 2233 - Web Application Development
 *Reg.Number        :	MGT/2019/401
 *Index Number      :   MGT/5701
 *Date of creation  :	27.09.2022

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


  /******************************/
 /*Entire HTML File Related CSS*/
/******************************/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    
}


  /************************/
 /*Header of the Page CSS*/
/************************/
.sub_header{
    min-height: 50%;
    width: 100%;
	background-image:linear-gradient(transparent,rgba(154, 236, 217, 0.7)), url(https://img.freepik.com/premium-photo/selective-focus-old-wood-table-with-beautiful-beach-background-display-your-product_176697-227.jpg?w=2000);
    /*background-color: rgb(4, 4, 47);*/
    background-position: center;
    background-size: cover;
    text-align: center ;
    color: #fff;

}

.sub_header h1{
    text-align: center;
    color: darkorange;
    text-shadow: 2px 2px rgb(183, 126, 27);
    font-weight: bold;
    border-top: 10px;
     
}


  /****************/
 /*Search Bar CSS*/
/****************/
.search{
    position:absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50% ,-50%);
    background: rgba(31, 70, 72, 0.7);
    max-width: 300px;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;

}

.search .input{
    width: 85%;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    font-weight:200;
    background:#e2fff9;
    font-family: Raleway;

}

.searchbtn{
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
   
}

.searchbtn .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 15px;
    color: black;
    
}

@media (max-width: 700px){
    .search{
        font-size: 10px;
        margin-left: -90px;
        max-width: 250px;
        top: 4%;
        
    }

}


  /***************************/
 /*Navigation Bar & Logo CSS*/
/***************************/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 200px;

}

.navbar_links{
    flex: 1;
    text-align: right;

}

.navbar_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.navbar_links ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;

}

.navbar_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f86d04 ;
    display:block ;
    margin: auto;
    transition: 0.5s;
    font-weight:900;

}

.navbar_links ul li:hover::after{
    width: 100%;

}

nav .fa{
    display:none;

}



@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    
    }
    .navbar_links ul li{
        display: block;

    }

    .navbar_links{
        position: absolute;
        background: rgb(4, 4, 47);
        height: 100vh;
        width: 240px;
        top: 0;
        right: -280px;
        text-align: left;
        z-index: 2;
        transition: 1s ;

    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor: pointer;

    }

    .navbar_links{
        padding: 30px;


    }
    nav img{
        width: 100px;
    
    }

    .navbar_links ul li a{
        color:rgb(255, 255, 255);
        
    }

}



  /***************/
 /*Body Part CSS*/
/***************/
.bac{
    background: #0c3b2e;
}

  /***************/
 /*About Us CSS*/
/***************/
.about-Us{
    width: 80%;
    margin: auto;
    background: #0c3b2e;
    margin-top: -140px;

}


.about-Us .col-md-6 img{
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;

}

.about-Us .col-md-6 h2{
    padding-top: 0;
    color: darkorange;
    margin-top: 120px;

}

.about-Us .col-md-6 p{
    padding: 15px 0 25px;
    color: #ffffff;

}


  /************************/
 /*Explore Now Button CSS*/
/************************/
.exp_btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight:bold;
    border: 1px solid #f44336;
    padding: 12px 32px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px 20px;

} 

.exp_btn:hover{
    border:1px solid #ff0000;
    background: #ff0000;
    transition: 1s;
    color: rgb(255, 255, 255);
    font-weight:bold;
   
}


  /****************/
 /*What we do CSS*/
/****************/
h1{
    text-align: center;
    margin: 20px auto 140px !important;
    color: darkorange;

}

.main{
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-left: 50px;

}

.about_VMV{
    background: #77e25a;
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #77e25a;
    transition: transform .8s;

}

.about_VMV-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #88eabf ;
    border: 18px solid #fff;

}

.about_VMV-logo img{
    width: 50px;
    margin-top: 30px;
    transition: transform 1s;

}

.about_VMV h4{
    height: 35px;
    width: 80%;
    background: #77e25a ;
    margin: 50px auto;
    position: relative;
   
}

.about_VMV h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#77e25a,rgb(0, 35, 174));
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;

}

.about_VMV h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, rgb(0, 35, 174) ,#77e25a);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;

}

.shadow_One{
    height: 200px;
    width: 65%;
    background:#77e25a ;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: 0;
    box-shadow: 0 0 20px -15px #030380 ;
    transition: transform .8s;

}

.shadow_Two{
    height: 200px;
    width: 49%;
    background:#77e25a;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: 0;

}

.main:hover .about_VMV{
    transform: translateY(-50px);
}

.main:hover .shadow_One{
    transform: translateY(-25px);
}

.main:hover img{
    transform: rotate(360deg);
}



@media screen and (max-width: 768px) {
    .about_VMV{
        
        width: 350px;
        padding: 50px;

    }
    
    .shadow_One{
        height: 200px;
        width: 52%;

    }

    .shadow_Two{
        height: 200px;
        width: 36%;
    
}

}



  /***************/
 /*Our Staff CSS*/
/***************/
.para{
    margin-top: -100px;
    text-align: center;
    color: #ffffff;
    

}

.staff{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c3b2e;

}

.st-heading{
    text-align: center;

}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    
}

.slide-content{
   
    margin: 0 40px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: -90px;

}

.card{
    border-radius: 25px;
    background-color: #fff;

}

.image-content , .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 14px;

}

.image-content{
    row-gap: 50px;
    position: relative;
    padding: 25px 0;
    
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #6fee7e;
    border-radius:5px 5px 0 25px ;

}

.overlay::before , .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #6fee7e ;
  
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
  
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
   background: #fff;
   padding: 3px;

}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid orange;
    
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;

}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;

}

.button{
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    background-color: #46c54e;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.button:hover{
    background: rgb(238, 170, 43);
    color: black;

}

.swiper-navBtn{
    color: #46c54e;
    transition: color 0.3s ease;

}

.swiper-navBtn:hover {
    color: rgb(0, 7, 66);
}
.swiper-navBtn::before , .swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #ff8e04;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #180076;
}


@media screen and (max-width: 768px) {

    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}


  /*********************/
 /*Why Ceylon Fiberio?*/
/*********************/
.why_CF{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c3b2e;
    margin-top: 20px;

}

.why_CF .container{
    width: 80% ;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left{
    width: 80%;
    height: 600px;

}

.why_CF img{
    height: 600px;
    border-radius: 8px;

}

.right{
    width: 100%;
    min-height: 400px;
    background-color: #030380;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    margin-left: -150px;

}

.right .wH1{
    font-size: 40px;
    color: orange;

}

.right p{
    margin-top: -100px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;

}

.right .seeM-btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f97037;
    color: #fafaff;
    padding: 10px 20px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 30px 30px; 
    margin-left: 420px;
    
}

.right .seeM-btn:hover{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff5208;
    color: #fafaff;
    padding: 10px 20px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 30px 30px; 
    margin-left: 420px;

}



@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 10px;

    }
    .left{
        width: 100%;
      
    }
    .right{
        width: 90%;
        margin: 0;
        margin-top: -100px;
        margin-right: -30px;

    }

    .why_CF img{
    
        height: 600px;
        border-radius: 8px;
        width: 110%;

    }

    .right .seeM-btn{
        margin-left: auto;

    }
}


  /*********************/
 /*Glowing Text Button*/
/*********************/
.glowbtn{
    text-align: center;
    
}

.gbutton {
    background-color: white;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 25px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
    
  }

  .gbutton:hover{
    color: #fff;

  }
  
.message{
    margin-top: -200px;
    margin-left: 935px;

  }



  @keyframes glowing {
    0% {
      background-color: darkorange;
      box-shadow: 0 0 5px darkorange;
    }
    50% {
      background-color: green;
      box-shadow: 0 0 20px green;
    }
    100% {
      background-color: darkorange;
      box-shadow: 0 0 5px darkorange;
    }
  }
  


  @media only screen and (max-width:1000px){
    .gbutton {
        font-size: 25px;
      }
    
    .message{
        height: 130px;
        margin-top: -170px;
        margin-left: 675px;
    }
  }
  @media only screen and (max-width:700px){
    .gbutton {
        font-size: 20px;
      }
    
    .message{
        height: 90px;
        margin-top: -120px;
        margin-left: 335px;
    }
  }

  @media only screen and (max-width:570px){
    .gbutton {
        font-size: 20px;
      }
    
    .message{
        height: 90px;
        margin-top: -100px;
        margin-left: 295px;
    }
  }



  /********/
 /*Footer*/
/********/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: rgb(4, 4, 47);

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.footer p{
    color: rgb(255, 255, 255);
  
}

.icons .fa{
    color: #fa9200;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    
}

.icons .fa:hover{
    color: #0d00ff;
    background-color: #fff;
}

.top_btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight:bold;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 32px;
    font-size: 14px;
    background: #00fd69;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 20px 20px;  

}

.top_btn:hover{
    border:1px solid #ffffff;
    background:orange;
    transition: 1s;
    color: rgb(255, 255, 255);
   
}


  /*************/
 /*Quick Links*/
/*************/
.container{
    max-width:1300px;
    margin: auto; 

}

.container .c_row{
    display: flex;
    flex-wrap:wrap;
    text-align: left;

}

.container ul{
    list-style: none;

}

.footer-col{
    width: 25%;
    padding: 0 30px;

}

.footer-col p{
    font-size: 15px;
    color: #fff;
	text-align: left;

}

.footer-col h4{
    font-size:18px ;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight:bold;
    position: relative;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px ;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}



@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}