@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

/*Entire HTML File Related CSS*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
   
    

}

body{

    background-color:  #e2fff9;
}
/*Header of the Page CSS*/
.sub_header{

    min-height: 50%;
    width: 100%;
	background-image:linear-gradient(transparent,rgba(154, 236, 217, 0.7)), url(https://img.freepik.com/premium-photo/selective-focus-old-wood-table-with-beautiful-beach-background-display-your-product_176697-227.jpg?w=2000);
    /*background-color: rgb(4, 4, 47);*/
    background-position: center;
    background-size: cover;
    text-align: center ;
    color: #fff;
}

.sub_header h1{
    text-align: center;
    color: darkorange;
    text-shadow: 2px 2px rgb(183, 126, 27);
    font-weight: bold;
    border-top: 10px;
    
    
}




/*Search Bar CSS*/
.search{
    position:absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50% ,-50%);
    background: rgba(31, 70, 72, 0.7);
    max-width: 300px;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-top: -225px;


}

.search .input{
    width: 85%;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    font-weight:200;
    background:#e2fff9;
    font-family: Raleway;
    color: black;
}

.searchbtn{
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
   

}

.searchbtn .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 15px;
    color: black;
    
}

@media (max-width: 700px){
    .search{
        font-size: 10px;
        margin-left: -60px;
        max-width: 250px;
        top: 4%;
        margin-top: -100px;
        
    }
}






/*Navigation Bar & Logo CSS*/

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 200px;


}

.navbar_links{
    flex: 1;
    text-align: right;
}

.navbar_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar_links ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

.navbar_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f86d04 ;
    display:block ;
    margin: auto;
    transition: 0.5s;
    font-weight:900;
}

.navbar_links ul li:hover::after{
    width: 100%;

}


/*Small Screen CSS*/


nav .fa{
    display:none;
}

@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    
    }
    .navbar_links ul li{
        display: block;
    }

    .navbar_links{
        position: absolute;
        background: rgb(4, 4, 47);
        height: 100vh;
        width: 240px;
        top: 0;
        right: -280px;
        text-align: left;
        z-index: 2;
        transition: 1s ;


    }

    .anima0{
        font-size: 50px;
        top: 33%;
    }
  
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor: pointer;

    }

    .navbar_links{
        padding: 30px;


    }
    nav img{
        width: 100px;
    
    
    }

    .navbar_links ul li a{
        color:rgb(255, 255, 255);
        
    }


}





/*Body Part CSS*/


  /***************/
 /*Body Part CSS*/
/***************/
.bac{
    background: #0c3b2e;
    margin-top: -20px;
}

.welcome h1{
    color: #fff;
    padding-top: 10px;
}

/*Product Card*/

.product-card{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c3b2e;
    line-height: 1.5;
    margin-bottom: -85px;


}



.container-card{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
   

}

.pdct-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-r{
    flex: 1 1 320px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    flex-direction: column;
    background: #ccfee7;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px 20px;
    align-self: normal;
}


.card-r img{
    max-width: 260px;
    margin-top: 20px;
    
    
}

.card-r h4{
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    color: green;

}

.card-r p{
    margin-bottom: 10px;
}
 .add-btn{
    margin-top: auto;
    display: inline-block;
    background: orange;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: transparent;

}

.add-btn:hover{
    background: green;
    color:rgb(255, 255, 255) ;
}

/*Product Details*/

.product-dtls{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}

.product-dtls .prdt1{
    flex-basis: 48%;
    padding: 30px 2px;
}

.product-dtls .col-md-6 img{
    width: 400px;
    margin: 0;
   
   
}

.product-dtls .prdt1 h1{
    padding-top: 0;
}

.product-dtls .prdt1 p{
    padding: 15px 0 25px;
}

@media (max-width:991px){
    .product-dtls .col-md-6 img{
        width: 200px;
        margin: 0;
       
       
    }


}


/*Table CSS*/
.order{
    color:darkorange;
    margin-top: 100px;
}

.table-responsive .table{
    background-color: #86d6a7;
    color: black;
    

}

 

/*Outlet Cover */

.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .container img{
    width: 100%;
    
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    margin-left: 415px;
    margin-top: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    
    
  }
  .help  {
    position: absolute;
    top: 8px;
    right: 16px;
    color: #0d00ff;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
   border-radius: 5px;
    background: rgba(5, 5, 5, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 60%;
    padding: 10px;
  }
  

  @media (max-width: 700px){
    .centered h1{
        font-size: 20px;
    }
    .centered p{
        font-size: 12px;
        margin-top: -30px;
    }
    .centered{
       
        height: 60%;
    }
    
    }

/*Log out Button CSS*/



    .account-btn{
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight:bold;
        border: 1px solid rgb(255, 0, 0);
        padding: 10px 32px;
        font-size: 16px;
        background: #ff0000;
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px 10px;  
       
        margin-top: 10px;
    
    
    }
    
    .account-btn:hover{
        border:1px solid #ff0000;
        text-decoration: none;
        background:rgb(255, 166, 0);
        transition: 1s;
        color: rgb(0, 0, 0);
       
    }
    


  

/*Subscribe Button*/

.subscribe {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin-right: 240px;
    margin-top: 5px;
    margin-bottom: 10px;

  }
  
  .subscribe:hover {
    background: red;
    color: #fff;
    text-decoration: none;
  }
  
  .subscribe .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }




/*Payment Submission Section*/

.pay-row{

    background: #0c3b2e;
    
}
.pay-row  h2{
    color: darkorange;
}
.pay-row  p{
    color: rgb(255, 255, 255);
}

.form-control{
    width:20%;
    color: gray;
}







/*Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: rgb(4, 4, 47);

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.footer p{
    color: rgb(255, 255, 255);
  
}

.icons .fa{
    color: #fa9200;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;

    
    
}

.icons .fa:hover{
    color: #0d00ff;
    background-color: #fff;
}



.top_btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight:bold;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 32px;
    font-size: 14px;
    background: #00fd69;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 20px 20px;  


}

.top_btn:hover{
    border:1px solid #ffffff;
    background:orange;
    transition: 1s;
    color: rgb(255, 255, 255);
  
   
}


/*Quick Links*/

.container{
    max-width:1300px;
    margin: auto;
    

}

.container .c_row{
    display: flex;
    flex-wrap:wrap;
    text-align: left;
}

.container ul{
    list-style: none;

}

.footer-col{
    width: 25%;
    padding: 0 30px;
}

.footer-col p{
    font-size: 15px;
    color: #fff;
	text-align: left;

}
.footer-col h4{
    font-size:18px ;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight:bold;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;


}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px ;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}


/*Footer Quick Links Responsive*/
@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

















